.card-container{
    background-color: #f7f7f7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    margin-top: 50px;
    margin-bottom: 35px;
    padding: 90px 0px 90px 90px;
}
.cards {
	height: 450px;
    width: 450px;
	position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.cards-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.title-img {
    padding-right: 20px;
    margin: 0;
	position: absolute;
	color: white;
    font-size: 18px;
	font-weight: 500;
    left: 20px;
    bottom: 15px;
    line-height: 25.67px;
}